
* {
    margin: 0em;
    padding: 0em;
}

#fase1{

    background-image: url("../img/fondoMov2.gif");
    height: 100vh;
    width: 100vw;
    background-size: cover;
   
}

#fase2{

    background-image: url("../img/fondo2.png");
    height: 100vh;
    width: 100vw;
    background-size: cover;
}

#fase3{

    background-image: linear-gradient(to right top, #1ea836, #00ad78, #00afaa, #00acca, #3ca6d4);
}

#fase4{
    background-image: url("../img/batalla.png");
    background-size: cover;
   
}
#fase5{

    background-image: linear-gradient(to right top, #1ea836, #00ad78, #00afaa, #00acca, #3ca6d4);

}
.batalla{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    

}
.barras{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    right: 18em;
    top: 4em;
}
.pelea{
    display: flex;
    position: relative;


    
    left: 20em;
    width: 30%;
    border-radius: 2.3em;
    background-color: rgb(75, 69, 69);
    box-shadow: 0em 1em 1em 0px black;
}
#healthP1{
    display: flex;
    position: relative;

    width: 100%;
    border-radius: 2.3em;
    height: 30px;
    background-color: rgb(42, 199, 42);
    transition: width 0.6s;
}
#healthP2{
    display: flex;
    position: relative;

    width: 100%;
    border-radius: 2.3em;
    height: 30px;
    background-color: rgb(42, 199, 42);
    transition: width 0.6s;
}

#textoVida1{
    font-size: 2em;
    font-family: 'VT323', monospace;
    color: white;
    position: relative;
    right: 1em;
}
#textoVida2{
    font-size: 2em;
    font-family: 'VT323', monospace;
    color: white;
    position: relative;
    right: 1em;
}

.luchador1{
    height: 5em;
    width: 8em;
}
.luchador2{
    height: 5em;
    width: 8em;   
}
.fighter1{
    height: 20em;
    width: 20em;
    position: relative;
    top:30em;
    left: 9em;

}
.fighter2{
    height: 20em;
    width: 20em;
    position: relative;
    top: 15em;
    left: 60em;
}



.pokeball{
    height: 10em;
    width: 10em;
    position: relative;
    top: 40em;
    left: 35em;
}

.secvis {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(0, 0, 0); */
    width: 100vw;
    height: 100vh;
}
.logoPoke{
    position: relative;
    bottom: 8em;
}
.text {
    font-size: 5em;;
    font-family:'VT323', monospace;
    font-weight:bold;
    background-color: rgba(0, 0, 0, 0.749);
    color:#ffffff;
    text-transform:uppercase;
  }
  .parpadea {
    
    animation-name: parpadeo;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  
    -webkit-animation-name:parpadeo;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
  }
  
  @-moz-keyframes parpadeo{  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
  }
  
  @-webkit-keyframes parpadeo {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
     100% { opacity: 1.0; }
  }
  
  @keyframes parpadeo {  
    0% { opacity: 1.0; }
     50% { opacity: 0.0; }
    100% { opacity: 1.0; }
  }
.top{

    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.logo{

    height: 10em;
    width: 30em;
    padding: 2em;
}

.luchadores{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    top: 3em;
    
}

.picFighter{
    width: 12em;
    height: 12em;
    border: 0.5em solid white;
    border-radius: 2em;
    transition: 0.5s;
}

.picFighter:hover{
    border: 0.5em solid rgb(25, 252, 237);
    transition: 0.5s;
    border-radius: 10px;
}

.seleccionado{
    /* border: 0.5em solid green; */
    transition: 0.5s;
    /* background-color: rgb(0, 0, 0); */
    filter:grayscale(100%);
}

.maquetaEquipos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* background-color: black; */
    width: 100vw;
    height: 100vh;
}

.teamCharacters {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 28em;
    width: 15em;
    margin: 6em;
}

/* .fightPanel{

    width: 5em;
    height: 8em;

} */



.fotoVersus {
    width: 30em;
    height: 18em;
}
.maquetaEquipos2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 2em;
    top: -4em;
    height: 2em;
}

.winner {
    display: flex;
    position: relative;
    flex-direction: column;
    height: 30em;
    width: 30em;
    margin: 6em;
    left: 35em;
}
.ganador{
    height: 5em;
    width: 8em;
    display: flex;
    position: relative;
    top: 48em;
    left: 28em;
}
#textoGanador{
    font-family:'VT323', monospace;
    font-size: 10em;
    color: white;
}

.resetGame{
    background-color:rgb(75, 69, 69);
    border-radius: 3em;
    display: flex;
    position: relative;
    top: 49em;
    left: 42em;
    z-index: 1;
}
/* #textoPA{
    font-family:'VT323', monospace;
    font-size: 5em;
    color: white;
} */

#return{
    height: 5em;
    width: 5em;
    border-radius: 5em;
}