
* {
    margin: 0em;
    padding: 0em;
}



#fase1{

    background-image: url("/img/fondoMov2.gif");
    height: 100vh;
    width: 100vw;
    background-size: cover;
   
}
.video{
    height: 100%;
    width:100% ;
}

#fase2{

    background-image: url("/img/fondo2.png");
    height: 100vh;
    width: 100vw;
    background-size: cover;
}

#fase3{

    background-image: url("/img/fight.jpg") ;
    /* no-repeat fixed center cover cover */
    height: 100vh;
    width: 100vw;
    /* background-size: contain; */
}

#fase4{
    background-image: url("/img/batalla.png");
    background-size: cover;
   
}
.batalla{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    

}
.barras{
    display: flex;
    flex-direction: row;
}
.pelea{
    display: flex;
    position: relative;

    top: 3em;
    left: 47em;
    width: 30%;
    border-radius: 10px;
    background-color: grey;
}

.luchador1{
    height: 5em;
    width: 8em;
}
.luchador2{
    height: 5em;
    width: 8em;   
}
.fighter1, .fighter2 {

    height: 20em;
    width: 20em;
    position: relative;
    top: 15em;
    left: 9em;

    
}
.life1{
    display: flex;
    position: relative;
    /* top: -16.9em; */
    left: 4em;
    /* width: 100%; */
    border-radius: 2.3em;
    background-color: grey;
}
#healthP1{
    display: flex;
    position: relative;

    width: 100%;
    border-radius: 2.3em;
    height: 30px;
    background-color: green;
    transition: width 0.6s;
}
#healthP2{
    display: flex;
    position: relative;

    width: 100%;
    border-radius: 2.3em;
    height: 30px;
    background-color: green;
    transition: width 0.6s;
}

.pokeball{
    height: 8em;
    width: 8em;
    position: relative;
    top: 15em;
    left: 5em;
}
.secvis {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(0, 0, 0); */
    width: 100vw;
    height: 100vh;
}

.textoBasico {
    color: white;


}
.top{

    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.logo{

    height: 10em;
    width: 30em;
    padding: 2em;
}

.luchadores{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.picFighter{
    width: 12em;
    height: 12em;
    border: 0.5em solid white;
    /* margin: 1em; */
    transition: 0.5s;
}

.picFighter:hover{
    border: 0.5em solid rgb(51, 255, 0);
    transition: 0.5s;
    border-radius: 10px;
}

.seleccionado{
    /* border: 0.5em solid green; */
    transition: 0.5s;
    /* background-color: rgb(0, 0, 0); */
    filter:grayscale(100%);
}

.maquetaEquipos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 100vw;
    height: 100vh;
}

.teamCharacters {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 28em;
    width: 15em;
    margin: 6em;
}

/* .fightPanel{

    width: 5em;
    height: 8em;

} */



.fotoVersus {
    width: 30em;
    height: 18em;
}